<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Motorbike Catalog</title>
    <meta name="description" content="Motorbike catalog with Manufacturers">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <meta name="theme-color" content="#fafafa">
  </head>
  <body>
    {% include 'includes/_nav.html' %}

    <section class="section has-background-light {{ active_page }}">
      <div class="container">
        {% include 'includes/_flash-message.html' %}

        {% block content%}{% endblock %}
      </div>
    </section>

    {% include 'includes/_footer.html' %}
  </body>
</html>
