{% extends 'base.html' %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-10">
    <div class="box">
      <div class="columns">
        <div class="column is-3">
          {% include 'includes/_aside.html' %}
        </div>

        <div class="column">
          <div class="content">
            {% if 'name' in session %}
              <a class="button is-primary is-medium" href="{{ url_for('new_motorbike', manufacturer_slug=manufacturer.slug) }}">Add Model</a>
            {% endif %}

            <h3>{{ manufacturer.name }} <span>({{ count }} models)</span></h3>

            {% if motorbikes %}
              <ul>
                {% for m in motorbikes %}
                  <li>
                    <a href="{{ url_for('motorbike', manufacturer_slug=manufacturer.slug, motorbike_slug=m.slug) }} ">{{ m.model }}</a>
                    <span>({{ m.year }})</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
