{% extends 'base.html' %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-8">
    <div class="card">
      <div class="card-header">
        <h2 class="card-header-title is-size-4 is-centered">{{ motorbike.manufacturer.name }} {{ motorbike.model }}</h2>
      </div>

      <div class="card-image">
        <figure class="image">
          <img src="{{ motorbike.image }}" alt="{{ motorbike.manufacturer.name }} {{ motorbike.model }} {{ motorbike.year }}">
        </figure>
      </div>

      <div class="card-content">
        <div class="content">
          <dl class="is-flex">
            <dt style="width:25%;">Model</dt>
            <dd style="width:75%;">{{ motorbike.model }}</dd>
          </dl>

          <dl class="is-flex">
            <dt style="width:25%;">Year</dt>
            <dd style="width:75%;">{{ motorbike.year }}</dd>
          </dl>

          <dl class="is-flex">
            <dt style="width:25%;">Engine</dt>
            <dd style="width:75%;">{{ motorbike.engine }}</dd>
          </dl>

          <dl class="is-flex">
            <dt style="width:25%;">Displacement</dt>
            <dd style="width:75%;">{{ motorbike.displacement }}</dd>
          </dl>

          <dl class="is-flex">
            <dt style="width:25%;">Max Power</dt>
            <dd style="width:75%;">{{ motorbike.max_power }}</dd>
          </dl>

          <dl class="is-flex">
            <dt style="width:25%;">Max Torque</dt>
            <dd style="width:75%;">{{ motorbike.max_torque }}</dd>
          </dl>

          <dl class="is-flex">
            <dt style="width:25%;">Fuel Capacity</dt>
            <dd style="width:75%;">{{ motorbike.fuel_capacity }}</dd>
          </dl>

          <dl class="is-flex">
            <dt style="width:25%;">Curb Mass</dt>
            <dd style="width:75%;">{{ motorbike.curb_mass }}</dd>
          </dl>
        </div>
      </div>

      <div class="card-footer">
        <a class="card-footer-item" href="{{ url_for('motorbikes', manufacturer_slug=motorbike.manufacturer.slug) }}">Back</a>
        <a class="card-footer-item" href="{{ url_for('edit_motorbike', manufacturer_slug=motorbike.manufacturer.slug, motorbike_slug=motorbike.slug) }}">Edit</a>
        <a class="card-footer-item" href="{{ url_for('delete_motorbike', manufacturer_slug=motorbike.manufacturer.slug, motorbike_slug=motorbike.slug) }}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
